.hero-header {
    font-size: 35px;
    font-weight: 700 !important;
    line-height: 54px;
    color: #27378C;
}

.hero-cards a{
    text-decoration: none;
}

.card {
    width: '190px';
    height: '325px';
    cursor: pointer;
}

.card img{
    filter: drop-shadow(1.87536px 1.87536px 1.87536px rgba(0, 0, 0, 0.25)) !important;
    border-radius: 11.2522px !important;
}

.card-title {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #545454;
}

.new-card {
    flex-direction: column;
}

.new-book {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px 4px;
gap: 12px;
width: 190px;
height: 275px;
background: #FFFFFF;
border: 1px dashed #27378C;
border-radius: 8px;
cursor: pointer;
}

.new-header {
    text-align: center;
    font-size: 3rem;
    display: flex;
    color: #27378C;
}

.new-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 2px;
    color: #27378C;
}